<html>
<head>
    <title>Toyota </title>
</head>
<body>

    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/models">/models</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>
                    <a href="/locales">/locales</a>
                </td>
                <td>
                    Список языков БД
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>
                    <a href="/vehicle/wmi">/vehicle/wmi</a>
                </td>
                <td>
                    Список wmi honda EU
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>
                    <a href="/filters?model_id=CIVIC&params%5B%5D=xcardrs_3&params%5B%5D=xgradefulnam_STD&params%5B%5D=ctrsmtyp_3AT">
                             /filters?model_id=CIVIC&params%5B%5D=xcardrs_3&params%5B%5D=xgradefulnam_STD&params%5B%5D=ctrsmtyp_3AT
                    </a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>6.1</td>
                <td>
                    <a href="/vehicle/8030/sgroups?group_id=2_2_19SELKD1&code_lang=EN">
                        /vehicle/8030/sgroups?group_id=2_2_19SELKD1&code_lang=EN
                    </a>
                </td>
                <td>
                    Получение подгруп запчастей по авто POST!<br />
                </td>
            </tr>
            <tr>
                <td>6.2</td>
                <td>
                    <a href="/vehicle/8030/sgroups?codes=1101&codes=1102&codes=0901&codes=1104&node_ids=1102&node_ids=1104">
                        /vehicle/8030/sgroups?codes=1101&codes=1102&codes=0901&codes=1104&node_ids=1102&node_ids=1104
                    </a>
                </td>
                <td>
                    Получение узлов, POST! <br />
                </td>
            </tr>

        </tbody>
    </table>

</body>
</html>
