<html>
<head>
    <title>Toyota </title>
</head>
<body>

    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/models">/models</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>
                    <a href="/locales">/locales</a>
                </td>
                <td>
                    Список языков БД
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>
                    <a href="/vehicle/wmi">/vehicle/wmi</a>
                </td>
                <td>
                    Список wmi honda EU
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>
                    <a href="/filters?model_id=CIVIC&params%5B0%5D=xcardrs_3&params%5B2%5D=xgradefulnam_STD&params%5B3%5D=ctrsmtyp_3AT">
                        /filters?model_id=CIVIC&params%5B0%5D=xcardrs_3&params%5B2%5D=xgradefulnam_STD&params%5B3%5D=ctrsmtyp_3AT
                    </a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>5</td>
                <td>
                    <a href="/filter-cars?model_id=CIVIC&params%5B0%5D=xcardrs_3&params%5B2%5D=xgradefulnam_STD&params%5B3%5D=ctrsmtyp_3AT&page=1&page_size=10">
                        /filter-cars?model_id=CIVIC&params%5B0%5D=xcardrs_3&params%5B2%5D=xgradefulnam_STD&params%5B3%5D=ctrsmtyp_3AT&page=1&page_size=10
                    </a>
                </td>
                <td>
                    Список авто, которые соответствуют выбранным фильтрам
                </td>
            </tr>

            <tr>
                <td>6</td>
                <td>
                    <a href="/vehicle/5445/mgroups">/vehicle/5445/mgroups</a>
                </td>
                <td>
                    Получение груп запчастей по авто
                </td>
            </tr>

            <tr>
                <td>7.1</td>
                <td>

                    <a href="/vehicle/5445/sgroups?vehicle_id=5445&group_id=13SM401_E__0900">
                        /vehicle/5445/sgroups?vehicle_id=5445&group_id=13SM401_E__0900
                    </a>
                </td>
                <td>
                    Получение подгруп запчастей по авто POST!<br />
                </td>
            </tr>

            <tr>
                <td>7.2</td>
                <td>
                    <a href="/vehicle/8030/sgroups?codes=1101&codes=1102&codes=0901&codes=1104&node_ids=1102&node_ids=1104">
                        /vehicle/8030/sgroups?codes=1101&codes=1102&codes=0901&codes=1104&node_ids=1102&node_ids=1104
                    </a>
                </td>
                <td>
                    Получение узлов, POST! <br />
                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    <a href="/vehicle/91"> /vehicle/91 </a>
                </td>
                <td>
                    Получение информации по авто
                </td>
            </tr>

            <tr>
                <td>9</td>
                <td>
                    <a href="/vehicle/7930/sgroups/1880?brand_url=toyota&vehicle_id=7930&node_id=1880">
                        /vehicle/7930/sgroups/1880?brand_url=toyota&vehicle_id=7930&node_id=1880
                    </a>
                </td>
                <td>
                    Список деталей в группе
                </td>
            </tr>

            <tr>
                <td>10</td>
                <td>
                    <a href="/image/17SA501_HMT0300.png">/image/MA6650D-png</a>
                </td>
                <td>
                    Получение картинки
                </td>
            </tr>

            <tr>
                <td>11</td>
                <td>
                    <a href="/vehicle/vin?vin=SHHCG7540YU003985&page=1&per-page=3">/vehicle/vin?vin=SHHCG7540YU003985&page=1&per-page=3</a>

                </td>
                <td>    Получение списка автомобилей по VIN  </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
